@charset "UTF-8";

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #ffffff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: rgb(20, 97, 214);
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

hr {
  margin: 40px 0;
  margin-left: 240px;
  margin-right: 240px;
  color: inherit;
  border-top: 1px solid;
  opacity: 0.25;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

a:hover {
  opacity: 0.6;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container {
    max-width: 1320px;
  }
}

.navbar {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 61px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.show-navbar {
  opacity: 1;
  transform: translateY(0);
  /* Translación final hacia abajo */
}

.logo img {
  height: 100%;
  width: 80%;
  margin-top: 10px;
  /* Ajustar la altura del logo al 100% de la barra de navegación */
}

.logo img:hover {
  opacity: 0.6;
}

.nav-links {
  display: flex;
  font-size: smaller;
  margin-top: 10px;
  margin-right: 533px;
  /* Centrar los elementos a la izquierda */
}

.nav-item {
  margin: 0 15px;
  text-decoration: none;
  color: #88959E;
}

.nav-res-item {
  text-decoration: none;
  color: white;
}

.nav-res-item-spc {
  text-decoration: none;
  color: #FFA100;
}

.menu-btn {
  display: none;
}

.dropdown {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .logo img {
    width: 60%;
    margin-left: 10px;
  }

  .nav-links {
    display: none;
  }

  .hide {
    display: none;
    max-height: 0 !important;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .dropdown .title {
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    background-color: transparent;
    background-image: url("../assets/img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .dropdown .title .fa-angle-right {
    float: right;
    margin-right: .7em;
    transition: transform .3s;
  }

  .dropdown .menu {
    position: absolute;
    padding: 10px 0;
    top: 80px;
    left: 0;
    width: 100%;
    color: white;
    background-color: #88959E;
    overflow: hidden;
  }

  .dropdown .menu .option {
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: smaller;
    margin-top: 25px;
  }

  .dropdown .menu .option:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  .pointerCursor:hover {
    cursor: pointer;
  }

  .rotate-90 {
    transform: rotate(90deg);
  }
}

/* Estilos para pantallas muy pequeñas (teléfonos móviles en modo paisaje) */
@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0 10px;
    /* Ajuste del espacio de relleno */
  }

  .logo img {
    width: 60%;
    margin-left: 10px;
    margin-top: 7px;
    /* Ajuste automático del ancho */
  }

  .nav-links {
    margin-right: 10px;
    /* Ajuste del margen derecho */
  }

  .nav-item {
    display: none;
    /* Ocultar .nav-item en teléfonos móviles en modo paisaje */
  }
}

.special {
  color: #FFA100;
}

.footer {
  background-color: #FFA100;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 61px;
  color: white;
  margin-top: auto;
}

.footer p {
  margin-top: revert;
}

.footer-logo img {
  height: 100%;
  width: 60px;
}

.footer-text {
  text-align: right;
  font-size: smaller;
}

/* Estilos para pantallas medianas (iPads y tabletas similares) */
@media only screen and (max-width: 1024px) {
  .footer {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    /* Ajuste del espacio de relleno */
  }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media only screen and (max-width: 768px) {
  .footer {
    padding: 0 20px;
    /* Ajuste del espacio de relleno */
  }

  .footer-logo img {
    display: none;
    /* Ajuste automático del ancho */
  }

  .footer-text {
    text-align: left;
    margin-left: 10px;
    /* Alinear el texto a la izquierda en el footer */
  }
}

/* Estilos para pantallas muy pequeñas (teléfonos móviles en modo paisaje) */
@media only screen and (max-width: 480px) {
  .footer {
    display: flex;
    padding: 0 10px;
    justify-content: center;
    /* Ajuste del espacio de relleno */
  }
}

.content-galery {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #222426;
  padding-top: 130px;
  padding-bottom: 130px;
}

.content-galery-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #222426;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 130px;
}

.nosotros-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #222426;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-banner {
  width: 205px;
  margin-left: 318px;
}

.text-banner {
  margin-left: 33px;
  margin-right: 300px;
  color: white;
  text-align: left;
}

.text-banner .title {
  margin: 0 0px;
}

.text-banner .info {
  font-size: smaller;
  margin-top: 10px;
}

.about-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-1-text {
  margin-left: 240px;
  margin-right: 240px;
  text-align: left;
}

.about-1-text .title {
  color: #FFA100;
}

.about-1-text .info {
  color: #88959E;
  margin-top: 20px;
  font-size: smaller;
}

.about-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FFA100;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-2-text {
  margin-left: 240px;
  margin-right: 100px;
  text-align: left;
}

.about-2-text .title {
  color: #ffffff;
}

.about-2-text .info {
  color: #ffffff;
  margin-top: 20px;
  font-size: smaller;
}

.about-2 .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: smaller;
}

.about-2 li {
  margin-bottom: 10px;
}

.about-2 li ul {
  margin-top: 5px;
}

.about-2-img {
  width: 400px;
  margin-right: 200px;
  margin-top: 70px;
}

.about-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-3-text {
  margin-left: 240px;
  margin-right: 240px;
  text-align: left;
}

.about-3-text .title {
  color: #FFA100;
}

.about-3-text .info {
  color: #88959E;
  margin-top: 20px;
  font-size: smaller;
}

.about-3 .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #88959E;
  font-size: smaller;
}

.about-3 li {
  margin-bottom: 10px;
}

.about-3 li ul {
  margin-top: 5px;
}

.logo-crp-social {
  width: 400px;
  margin-bottom: 15px;
}

.social-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.content-home {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 86px;
}

.content-home-container {
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.content-home-container hr {
  margin: 60px 0;
  margin-left: 240px;
  margin-right: 240px;
}

.show-content-home-container {
  opacity: 1;
}

.content-info-event {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 86px;
  margin-bottom: 86px;
}

.calendary-info-home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.content-info-event-container {
  height: 100%;
  opacity: 0;
  /* Establecer la opacidad inicial en 0 */
  transform: translateY(-20px);
  /* Translación inicial hacia arriba */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Duración de la transición de 0.5 segundos */
}

.show-content-info-event {
  opacity: 1;
  transform: translateY(0);
  /* Translación final hacia abajo */
}

.working-text {
  color: #88959E;
  margin-top: 50px;
  padding-bottom: 20px;
}

.working-button {
  margin-top: 40px;
  /* Espacio entre la imagen y los botones */
}

.back-button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

.back-button {
  background-color: #FFA100;
  color: white;
}

a.back-button {
  text-decoration: none;
  background-color: #FFA100;
  color: white;
}

.start-text {
  color: #88959E;
}

.start-text-galery {
  color: #FFA100;
}

.start-image {
  width: 700px;
  height: auto;
}

.start-buttons {
  margin-top: 40px;
  /* Espacio entre la imagen y los botones */
}

.inscribe-button,
.info-button,
.info-button-chana {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

.inscribe-button {
  background-color: #8743D6;
  color: white;
}

a.inscribe-button {
  text-decoration: none;
  /* Para quitar la subrayado predeterminado en los enlaces */
  color: white;
  background-color: #8743D6;
}

.info-button {
  background-color: #D3F47A;
  color: #8743D6;
}

a.info-button {
  text-decoration: none;
  background-color: #D3F47A;
  color: #8743D6;
}

.info-button-chana {
  background-color: #C5E86C;
  color: #000000;
}

a.info-button-chana {
  text-decoration: none;
  background-color: #C5E86C;
  color: #000000;
}

.event-text {
  color: #88959E;
  margin-left: 240px;
  margin-right: 240px;
}

.event-text-special {
  color: #8743D6;
  margin-left: 240px;
  margin-right: 240px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.event-image {
  width: 300px;
  height: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  /* Espacio entre el texto y la imagen */
}

.event-info-title {
  text-align: left;
  margin-left: 240px;
  margin-right: 240px;
  color: #8743D6;
}

.event-info {
  color: #88959E;
  text-align: left;
  margin-left: 240px;
  margin-right: 240px;
}

.price-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #88959E;
  margin-left: 250px;
  margin-right: 240px;
}

.price-list li {
  margin-bottom: 10px;
}

.price-list li ul {
  margin-top: 5px;
  margin-left: 10px;
}

.slider-container {
  display: flex;
  justify-content: center;
}

figure {
  margin: 0;
}

#gallery {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.gallery-container {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-item {
  min-width: 100%;
  height: 720px;
  box-sizing: border-box;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Navegación de la galería */
.gallery-navigation {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.nav-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 100px;
}

.nav-button>span {
  font-size: 30px;
}

.nav-button:hover {
  background-color: #00000034;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 780px;
  height: 502px;
}

.fila {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.calendar-img {
  display: block;
  width: 240px;
  height: 240px;
  margin-bottom: 20px;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.calendar-img:hover {
  transform: scale(1.1);
}

.no-transform:hover {
  transform: none;
  pointer-events: none;
}

.more-info-nosotros {
  margin-top: 60px;
  padding-top: 130px;
  padding-bottom: 130px;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, #42484C 100%, #42484C 100%), url("https://res.cloudinary.com/dftjkw401/image/upload/v1705013253/CRP%20Website/AVU2023-137_es0sh5.jpg") center/cover no-repeat;
}

.more-info-container {
  margin-top: 60px;
  padding-top: 130px;
  padding-bottom: 130px;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, #42484C 100%, #42484C 100%), url("https://res.cloudinary.com/dftjkw401/image/upload/v1705013253/CRP%20Website/AVU2023-137_es0sh5.jpg") center/cover no-repeat;
}

.more-info-text {
  color: white;
  text-decoration: none;
}

.social-icon-1 {
  width: 50px;
  height: 100%;
  margin: 0 20px;
  display: block;
  background-size: cover;
}

.social-icon-2 {
  width: 38px;
  height: 100%;
  margin: 0 20px;
  display: block;
  background-size: cover;
}

.chana-block {
  height: auto;
  padding-top: 170px;
  padding-bottom: 180px;
  margin: 120px 0;
  background: url(https://res.cloudinary.com/dftjkw401/image/upload/f_auto,q_auto/v1/CRP%20Website/rringri6b4maxak88lor);
  background-position: center;
  background-size: cover;
  background-color: black;
}

/* Estilos para pantallas medianas (iPads y tabletas similares) */
@media only screen and (max-width: 1024px) {
  .content-home {
    padding: 0 20px;
    /* Ajuste del espacio de relleno */
  }

  .start-image {
    width: 325px;
  }

  .start-buttons {
    display: flex;
    flex-direction: column;
  }

  .inscribe-button,
  .info-button,
  .info-button-chana {
    font-size: 12px;
    margin: 10px 10px;
  }

  .event-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .event-text-special {
    margin-left: 20px;
    margin-right: 20px;
  }

  .price-list {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media only screen and (max-width: 768px) {
  .content-home {
    padding: 0 10px;
    margin-top: 50px;
    /* Ajuste del espacio de relleno */
  }

  .start-text {
    font-size: smaller;
    margin: 0 20px
  }

  .start-text-galery {
    margin: 0 20px;
    margin-bottom: 20px;
  }

  .start-image {
    width: 325px;
    margin-top: 15px;
  }

  .start-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .inscribe-button,
  .info-button,
  .info-button-chana {
    font-size: 12px;
    margin: 10px 10px;
  }

  .event-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .event-text-special {
    margin-left: 20px;
    margin-right: 20px;
  }

  hr {
    margin: 40px 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .event-info-title {
    margin-left: 20px;
    margin-right: 20px;
  }

  .event-info {
    margin-left: 20px;
    margin-right: 20px;
  }

  .price-list {
    margin-left: 20px;
    margin-right: 20px;
  }

  .price-list li ul {
    margin-top: 5px;
    margin-left: 5px;
  }

  #gallery {
    max-width: 100%;
  }

  .gallery-container {
    width: 100%;
  }

  .gallery-item {
    min-width: 100%;
    height: 245px;
  }

  .content-galery {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .content-galery-bottom {
    padding-top: 130px;
    padding-bottom: 100px;
  }

  .calendary-info-home {
    margin-top: 30px;
  }

  .calendar-container {
    width: 360px;
    height: 230px;
  }

  .fila {
    gap: 10px;
  }

  .calendar-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .content-home-container hr {
    margin: 30px 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-text {
    text-align: center;
    font-size: smaller;
  }

  .footer-text img {
    display: none;
  }

  .logo-crp-social {
    width: 245px;
  }

  .nosotros-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo-banner {
    width: 200px;
    margin-left: 20px;
  }

  .text-banner {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .about-1 {
    padding-bottom: 30px;
  }

  .about-1-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about-2 {
    flex-direction: column-reverse;
  }

  .about-2-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about-2 .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #ffffff;
    font-size: smaller;
  }

  .about-2 li {
    margin-bottom: 10px;
  }

  .about-2 li ul {
    margin-top: 5px;
  }

  .about-2-img {
    width: 210px;
    margin-left: 60px;
    margin-top: 0px;
  }

  .about-3-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about-3-text .title {
    color: #FFA100;
  }

  .about-3-text .info {
    color: #88959E;
    margin-top: 20px;
    font-size: smaller;
  }

  .about-3 .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #88959E;
    font-size: smaller;
  }

  .about-3 li {
    margin-bottom: 10px;
  }

  .about-3 li ul {
    margin-top: 5px;
  }

  .more-info-nosotros {
    margin-top: 0px;
  }
}