<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% load static %}

        <meta charset="utf-8" />
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1, shrink-to-fit=no" 
        />
        <meta
            name="description"
            content=""
        />
        <meta 
            name="author"
            content=""
        />
        <title>CRP 2024</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'Home/assets/LogoSol-Footer.svg' %}"
        />
        <!-- Style-->
        <link href="{% static 'Home/css/styles.css' %}" rel="stylesheet" />
    </head>

    <body>

        <!-- Navigation-->
        <div class="navbar">
            <a href="{% url 'home' %}" class="logo"><img src="{% static 'Home/assets/img/LogoCRP-Navbar.webp'%}" alt="Logo"></a>
            <div class="nav-links">
                <a href="{% url 'sobre-nosotros' %}" class="nav-item">Nosotros</a>
                <a href="{% url 'mantenimiento' %}" class="nav-item">Ediciones</a>
                <a href="{% url 'galeria' %}" class="nav-item">Galería</a>
                <a href="{% url 'info-evento-actual' %}" class="nav-item special">Nuevo Desafío</a>
            </div>

            <!-- Navigation Responsive-->
            <div class='dropdown'>
                <div class='title pointerCursor'></div>
                <div class='menu pointerCursor hide'>
                    <div class='option' id='option1'><a class="nav-res-item" href="{% url 'home' %}">Inicio</a></div>
                    <div class='option' id='option2'><a class="nav-res-item" href="{% url 'nosotros' %}">Nosotros</a></div>
                    <div class='option' id='option3'><a class="nav-res-item" href="{% url 'mantenimiento' %}">Ediciones</a></div>
                    <div class='option' id='option4'><a class="nav-res-item" href="{% url 'galeria' %}">Galeria</a></div>
                    <div class='option' id='option5'><a class="nav-res-item-spc" href="{% url 'info-evento-actual' %}">Nuevo Desafío</a></div>
                </div>
            </div>
        </div>


        {% block contenido %} {% endblock %} {% block contenido2 %}


        <div class="footer">
            <div class="footer-logo">
                <img src="{% static 'Home/assets/img/LogoSol-Footer.svg' %}" alt="Logo Pequeño">
            </div>
            <div class="footer-text">
                <p>© 2024 Costa Río Paraná. Todos los derechos reservados.</p>
            </div>
        </div>
        {% endblock %}

        <script>
            setTimeout(function() {
                var element = document.querySelector('.navbar');
                if (element) {
                    element.classList.add('show-navbar');
                }
            }, 300);
        </script>
        <script src="{% static 'Home/js/navbar.js' %}"></script>

    </body>
</html>