{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

    <div class="content-info-event-container">
        <div class="content-info-event">
            <img src="{% static 'Home/assets/img/LogoCarreraDeLaMujer-Home.webp' %}" alt="Logotipo" class="event-image">
            <p class="event-text">Esta distinguida carrera, diseñada para cautivar los sentidos y elevar el espíritu,
                marca el comienzo de nuestro año deportivo. Ofrecemos tres distancias,
                cada una tejida con cuidado para satisfacer diversos gustos y niveles de habilidad.</p>

            <h3 class="event-text-special">10K - 5K - 5K Trekking</h3>

            <p class="event-text">Para todos los apasionados del running que buscan un desafío,
                el trayecto de 10 kilómetros desentraña las calles con fuerza.
                <br>La opción de 5 kilómetros está diseñada para quienes desean saborear cada paso,
                disfrutando del ritmo y la armonía del recorrido.
                Para quienes aman caminar, el trekking de 5 kilómetros invita a explorar las calles con determinación,
                permitiendo que cada paso sea una declaración de fuerza y resistencia.</br></p>

            <h3 class="event-text-special">Diamante, Entre Ríos</h3>

            <p class="event-text">Recorrer las calles de Diamante es sumergirse en un viaje que combina la elegancia del pasado con la vitalidad del presente.
                Sus calles, empedradas con historias centenarias, son el testigo silencioso de eventos que han dado forma a esta joya de Entre Ríos.</p>

            <hr>

            <p class="event-info-title">Largada</p>
            <p class="event-info">Se realizará desde la Plaza San Martín. Calle: Eva Perón y Echague
                <br>Horario de largada: 8:30 hs</br></p>

            <p class="event-info-title">Servicios en competencia</p>
            <p class="event-info">Los corredores contarán con 2 puestos de hidratación con agua y fruta en la mayor distancia.
                En las distancias menores hay puestos de hidratación distribuidos de manera uniforme por el recorrido,
                de manera que no quede ningún corredor sin hidratación.</p>

            <p class="event-info-title">Cronometraje</p>
            <p class="event-info">Los tiempos de todos los participantes serán medidos a través de sistema de cronometraje por
                chip de la Empresa Megasoft. Todo aquel corredor que se corrobore que no realizó la totalidad de
                kilómetros por los cuales se inscribió, quedará descalificado. 
            </p>

            <p class="event-info-title">Salud</p>
            <p class="event-info">Se dispondrá en la llegada con un dispositivo de asistencia médica y una carpa
                donde se realizarán masajes post competencia.</p>

            <p class="event-info-title">Kit Corredor</p>
            <p class="event-info">Cada participante recibirá un kit compuesto por la remera oficial de competencia,
                chip de cronometraje, número de dorsal con alfileres de gancho y regalos de auspiciantes.
            </p>

            <p class="event-info-title">Premiación</p>
            <p class="event-info">La Premiación se realizará del 1° al 3° puesto en la general y en las categorías. 
                No acumulativa. Medallas de material reciclado. Premios en efectivo en la distancia 10km competitivos.
            </p>

            <p class="event-info-title">Categorías</p>
            <ul class="price-list">
                <li>
                    <strong>Se tiene en cuenta la edad anual al 31/12/2024</strong>
                    <ul>
                        <li>De 15 a 19</li>
                        <li>De 20 a 24</li>
                        <li>De 25 a 29</li>
                        <li>De 30 a 34</li>
                        <li>De 35 a 39</li>
                        <li>De 40 a 44</li>
                        <li>De 45 a 49</li>
                        <li>De 50 a 54</li>
                        <li>De 55 a 59</li>
                        <li>De 60 a 64</li>
                        <li>De 65 a 69</li>
                        <li>De 70 y Más</li>
                        <li>Discapacidad</li>
                    </ul>
                </li>
            </ul>

            <hr>

            <p class="event-info-title">Inscripciones Online</p>
            <p class="event-info">Inscripción con remera asegurada hasta: 21 de febrero de 2024
                <br>La inscripción incluye:</br>
                <ul class="price-list">
                    <li>
                        <li>Remera oficial de la competencia</li>
                        <li>Chip de cronometraje</li>
                        <li>Cobertura fotográfica</li>
                        <li>Medalla finisher y premiación</li>
                        <li>Seguro médico</li>
                    </li>
                </ul>
            </p>
            <p class="event-info">Se realiza el pago de un anticipo del 50% (con el mismo reserva su talle de remera), 
                y  al retirar su kit deberá abonar el saldo pendiente. También se puede abonar el total del monto de inscripción. 
                En ninguno de los casos de rembolsa el valor de la inscripción ya que al pagar el organizador asume compromisos y realiza compras.</p>

            <p class="event-info-title">Precios y etapas de pago</p>
            <ul class="price-list">
                <li>
                    <strong>1° ETAPA: Desde el 07/01 al 28/01</strong>
                    <ul>
                        <li>5Km Trekking - Precio total $11.000 anticipo $5.500 - Saldo al retirar el kit $5.500</li>
                        <li>5Km Competitivo - Precio total $13.000 anticipo $6.500 - Saldo al retirar el kit $6.500</li>
                        <li>10Km Competitivo - Precio total $14.000 anticipo $7.000 - Saldo al retirar el kit $7.000</li>
                    </ul>
                </li>
            </ul>
            <ul class="price-list">
                <li>
                    <strong>2ª ETAPA: Desde el 29/01 al 20/02</strong>
                    <ul>
                        <li>5Km Trekking - Precio total $12.000 anticipo $6.000 - Saldo al retirar el kit $6.000</li>
                        <li>5Km Competitivo - Precio total $14.000 anticipo $7.000 - Saldo al retirar el kit $7.000</li>
                        <li>10Km Competitivo - Precio total $15.000 anticipo $7.500 - Saldo al retirar el kit $7.500</li>
                    </ul>
                </li>
            </ul>

            <p class="event-info-title">Entrega de Kits</p>
            <ul class="price-list">
                <li>
                    <ul>
                        <li>Lugar: a designar</li>
                        <li>Horario: a designar</li>
                    </ul>
                </li>
            </ul>

            <p class="event-info">Los competidores para retirar su kit deben presentar:
                <ul class="price-list">
                    <li>
                        <ul>
                            <li>Deslinde de responsabilidad firmado.</li>
                            <li>Certificado médico.</li>
                            <li>Saldo de inscripción.</li>
                        </ul>
                    </li>
                </ul>
                <br>
                <p class="event-info">En el caso de retirarle a otro competidor deben presentar:</p>
                    <ul class="price-list">
                        <li>
                            <ul>
                                <li>Fotocopia de DNI del corredor</li>
                                <li>Deslinde firmado</li>
                                <li>Certificado médico</li>
                                <li>Saldo de inscripción</li>
                            </ul>
                        </li>
                    </ul>
                </br>
            </p>

            <hr>

            <p class="event-info-title">IMPORTANTE</p>
            <p class="event-info">El pago debe ser único para la persona que se inscribe, es decir, no se puede enviar una transferencia por 2 o más inscripciones.
                En el caso de realizarlo de esa forma deben informar a nuestro email: costarioparana@gmail.com, con las especificaciones de a quién va otorgado el pago.                 
            </p>

            <hr>

            <div class="start-buttons">
                <a class="inscribe-button" href="https://forms.gle/Tt9biyLw1gKvhVis9" target="_blank">INSCRIBIRME YA</a>
            </div>

        </div>
    </div>

    <script>
        setTimeout(function() {
            var element = document.querySelector('.content-info-event-container');
            if (element) {
                element.classList.add('show-content-info-event');
            }
        }, 300);
    </script>

</html>

{% endblock %}