{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

    <div class="content-info-event-container" style="background-image: linear-gradient(67deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0)),url(https://res.cloudinary.com/dftjkw401/image/upload/f_auto,q_auto/v1/CRP%20Website/rringri6b4maxak88lor);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;">
        <div class="content-info-event" style="margin-top: 40px;">

            <h1 style="color:white; font-size: 20px; margin-top: 95px;">Chaná Challenge 2023 Aftermovie</h1>
            <p style="color: #88959E; font-size: smaller; margin-bottom: 41px;">Conocé un poco más sobre este grandioso desafío para amantes de la naturaleza y el trail running</p>

            <div class="title-video">

                <video width="980" height="auto" controls>
                    <source src="https://res.cloudinary.com/dftjkw401/video/upload/f_auto:video,q_auto/v1/CRP%20Website/nnuhbqvczasrkwepwei0" type="video/mp4">
                </video>

                <img src="https://res.cloudinary.com/dftjkw401/image/upload/f_auto,q_auto/v1/CRP%20Website/lz42uvqoy9czaabuj6bc" alt="Logotipo" class="event-image" style="width: 616px; margin-top: 70px; padding-bottom: 32px;">

            </div>

            <p class="event-text">Adéntrate en la naturaleza salvaje y vive la emoción del trail running en el majestuoso escenario de Diamante,
                con el esperado desafío Chaná Challenge. Este emocionante evento, programado para el 05 de mayo de 2024,
                promete una experiencia inolvidable para todos los amantes de la naturaleza y el trail running.</p>

            <h3 class="event-text-special" style="color:#C5E86C;">25K - 12K - 5K + Trekking</h3>

            <p class="event-text">Para los corredores intrépidos que buscan una verdadera aventura,
                el trayecto de 25 kilómetros ofrece terrenos diversos y desafiantes que pondrán a prueba tu resistencia y determinación.
                El recorrido de 12 kilómetros te llevará a través de paisajes pintorescos y senderos cautivadores.
                Perfecto para aquellos que desean experimentar la emoción del trail running sin comprometerse con una distancia extrema.
                Para aquellos que prefieren disfrutar del entorno a un ritmo más pausado, la opción de 5 kilómetros te brinda la oportunidad
                de explorar la naturaleza a tu propio ritmo, absorbiendo cada detalle del paisaje.</p>

            <h3 class="event-text-special" style="color:#C5E86C;">Diamante, Entre Ríos</h3>

            <p class="event-text">Sumérgete en la belleza natural de Diamante mientras corres por campos ondulantes, bosques frondosos y senderos
                serpenteantes que te llevarán a descubrir la esencia pura de la naturaleza.
                Cada paso en nuestro desafío es una oportunidad para conectar con el entorno y desafiar tus límites en un ambiente inspirador y revitalizante.</p>

            <hr>

            <p class="event-info-title" style="color:#C5E86C;">Largada</p>
            <p class="event-info">Epicentro de la carrera. Complejo Turístico Valle de la Ensenada. Calle: Av. Costanera s/n
                <br>Horario de largada: 09:00 hs</br></p>

            <p class="event-info-title" style="color:#C5E86C;">Términos y Condiciones</p>
            <p class="event-info">La organización controla y decide sobre cualquier tema inherente a la prueba.
                La organización podrá suspender, modificar los horarios y los recorridos en cuidado de los corredores
                Se reserva el derecho de publicar, reproducir fotografías y videos de los corredores sin compensación económica a los mismos.
                Se descalificará al corredor que no utilice la remera oficial y el chip.
            </p>

            <p class="event-info-title" style="color:#C5E86C;">Motivos de descalificación</p>
            <p class="event-info">Será descalificado el participante que incurra en conductas antideportivas con corredores y organización.
                Dañar o quitar marcas y señales en el recorrido.
                Cortar camino o no realizar el circuito trazado por la organización.
            </p>

            <p class="event-info-title" style="color:#C5E86C;">Servicios en competencia</p>
            <p class="event-info">Los corredores contarán con 3 puestos de hidratación con agua y fruta en la mayor distancia 25k.
                El 2do puesto de hidratación contará además con fruta, coca cola, snak.
                En las distancias menores hay puestos de hidratación distribuidos de manera uniforme por el recorrido,
                de manera que no quede ningún corredor sin hidratación.</p>

            <p class="event-info-title" style="color:#C5E86C;">Cronometraje</p>
            <p class="event-info">Los tiempos de todos los participantes serán medidos a través de sistema de cronometraje por chip de la Empresa Francolini. 
                Todo aquel corredor que se corrobore que no realizó la totalidad de kilómetros por los cuales se inscribió, quedará descalificado. 
            </p>

            <p class="event-info-title" style="color:#C5E86C;">Salud</p>
            <p class="event-info">Se dispondrá en la llegada con un dispositivo de asistencia médica y una carpa
                donde se realizarán masajes post competencia.</p>

            <p class="event-info-title" style="color:#C5E86C;">Kit Corredor</p>
            <p class="event-info">Cada participante recibirá un kit compuesto por la remera oficial de competencia,
                chip de cronometraje, número de dorsal con alfileres de gancho y regalos de auspiciantes.
            </p>

            <p class="event-info-title" style="color:#C5E86C;">Premiación</p>
            <p class="event-info">La Premiación se realizará del 1° al 3° puesto en la general. Del 1° al 5° en las categorías. 
                No acumulativa. Medallas de material reciclado.
            </p>

            <p class="event-info-title" style="color:#C5E86C;">Categorías</p>
            <ul class="price-list">
                <li>
                    <strong>Se tiene en cuenta la edad anual al 31/12/2024</strong>
                    <ul>
                        <li>De 15 a 19</li>
                        <li>De 20 a 24</li>
                        <li>De 25 a 29</li>
                        <li>De 30 a 34</li>
                        <li>De 35 a 39</li>
                        <li>De 40 a 44</li>
                        <li>De 45 a 49</li>
                        <li>De 50 a 54</li>
                        <li>De 55 a 59</li>
                        <li>De 60 a 64</li>
                        <li>De 65 a 69</li>
                        <li>De 70 y Más</li>
                        <li>Discapacidad</li>
                    </ul>
                </li>
            </ul>

            <hr>

            <p class="event-info-title" style="color:#C5E86C;">Inscripciones Online (A PARTIR DEL 19.02)</p>
            <p class="event-info">Inscripción con remera asegurada hasta: 20 de Abril de 2024
                <br>La inscripción incluye:</br>
                <ul class="price-list">
                    <li>
                        <ul>
                            <li>Remera oficial de la competencia</li>
                            <li>Chip de cronometraje</li>
                            <li>Cobertura fotográfica</li>
                            <li>Medalla finisher y premiación</li>
                            <li>Seguro médico</li>
                        </ul>
                    </li>
                </ul>
            </p>
            <p class="event-info">Se realiza el pago de un anticipo del 50% (con el mismo reserva su talle de remera), 
                y  al retirar su kit deberá abonar el saldo pendiente. También se puede abonar el total del monto de inscripción. 
                En ninguno de los casos de rembolsa el valor de la inscripción ya que al pagar el organizador asume compromisos y realiza compras.</p>

            <p class="event-info-title" style="color:#C5E86C;">Entrega de Kits</p>
            <ul class="price-list">
                <li>
                    <ul>
                        <li>Lugar: a designar</li>
                        <li>Horario: a designar</li>
                    </ul>
                </li>
            </ul>

            <p class="event-info">Los competidores para retirar su kit deben presentar:
                <ul class="price-list">
                    <li>
                        <ul>
                            <li>Deslinde de responsabilidad firmado.</li>
                            <li>Certificado médico.</li>
                            <li>Saldo de inscripción.</li>
                        </ul>
                    </li>
                </ul>
                <br>
                <p class="event-info">En el caso de retirarle a otro competidor deben presentar:</p>
                    <ul class="price-list">
                        <li>
                            <ul>
                                <li>Fotocopia de DNI del corredor</li>
                                <li>Deslinde firmado</li>
                                <li>Certificado médico</li>
                                <li>Saldo de inscripción</li>
                            </ul>
                        </li>
                    </ul>
                </br>
            </p>

            <p class="event-info-title" style="color:#C5E86C;">APERTURA DE INSCRIPCIONES 19.02</p>

            <hr>

            <p class="event-info-title" style="color:#C5E86C;">IMPORTANTE</p>
            <p class="event-info">El pago debe ser único para la persona que se inscribe, es decir, no se puede enviar una transferencia por 2 o más inscripciones.
                En el caso de realizarlo de esa forma deben informar a nuestro email: costarioparana@gmail.com, con las especificaciones de a quién va otorgado el pago.                 
            </p>

            <hr>

            <!---div class="start-buttons">
                <a class="inscribe-button" style="background-color: #C5E86C; color:black;" href="https://forms.gle/Tt9biyLw1gKvhVis9" target="_blank">INSCRIBIRME YA</a>
            </div-->

        </div>
    </div>

    <script>
        setTimeout(function() {
            var element = document.querySelector('.content-info-event-container');
            if (element) {
                element.classList.add('show-content-info-event');
            }
        }, 300);
    </script>

</html>

{% endblock %}