{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

    <div class="content-home-container">

        <div class="content-galery">
            <h3 class="start-text-galery">Galería de imágenes | Ediciones pasadas</h3>
            <p class="start-text" style="color: white;">Navegá por nuestra galería para conocer un poco más sobre Costa Río Paraná.</p>
        </div>

        <div class="slider-container">

            <section id="gallery">
                <div class="gallery-container">
                    {% for image_url in images %}
                        <figure class="gallery-item">
                        <img src="{{ image_url }}" alt="">
                        <!--<figcaption>Descripción de la imagen 1</figcaption> -->
                        </figure>
                    {% endfor %}
                </div>
                <nav class="gallery-navigation">
                    <button class="nav-button prev-button"><span>&#60;</span></button>
                    <button class="nav-button next-button"><span>&#62;</span></button>
                </nav>
            </section>

        </div>

        <div class="content-galery-bottom">
            <img class="logo-crp-social" src="{% static 'Home/assets/img/LogoCRP-Navbar.webp'%}" alt="Logo"></img>
            <div class="social-container">
                <a href="https://www.instagram.com/costarioparana_/" target="_blank"><img class="social-icon-2" src="https://res.cloudinary.com/dftjkw401/image/upload/v1705100707/CRP%20Website/lush0ubuqgjq1doijah4.png"></a>
                <a href="https://www.facebook.com/costarioparana" target="_blank"><img class="social-icon-1" src="https://res.cloudinary.com/dftjkw401/image/upload/v1705100707/CRP%20Website/acpsecy4p7g8ogxkjwez.png"></a>
            </div>
        </div>

    </div>

    <script>
        // Transición en Home
        setTimeout(function() {
            document.querySelector('.content-home-container').classList.add('show-content-home-container');
        }, 700);
    </script>

    <script src="{% static 'Home/js/galeria.js' %}"></script>

</html>

{% endblock %}