{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <!--<div class="text-center">
                    <br><br><br>
                    <h2 class="text-warning mx-auto mt-4 mb-4"
                    >CUPOS AGOTADOS</h2>
                    <h1 class="mx-auto my-1 text-uppercase mb-4"
                    >CHANÁ CHALLENGE</h1> 
                    <h2 class="text-white-50 mx-auto mt-2 mb-5"
                    >7 DE MAYO DE 2023 | VIVÍ LA EXPERIENCIA CHANÁ EN UN PAISAJE INCREIBLE</h2>
                    <a class="btn btn-primary" href="{% url 'informacion' %}"
                    >INFORMACIÓN SOBRE EL EVENTO</a>
                    <a class="btn btn-white" href="{% url 'listado' %}"
                    >LISTADO DE CORREDORES/AS</a>
                </div>-->
            </div>
        </div>
    </header>
{% endblock %}
