{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

    <div class="content-home-container">
        <div class="content-home">
            <p class="start-text">10 DE MARZO DE 2024 | DIAMANTE, ENTRE RÍOS</p>
            <img src="{% static 'Home/assets/img/LogoCarreraDeLaMujer-Home.svg' %}" alt="Logotipo" class="start-image">
            <div class="start-buttons">
                <a class="inscribe-button" href="https://forms.gle/Tt9biyLw1gKvhVis9" target="_blank">INSCRIBIRME YA</a>
                <a class="info-button" href="{% url 'info-evento-actual' %}" >VER MÁS INFO</a>
            </div>
        </div>
    </div>

    <script>
        // Transición en Home
        setTimeout(function() {
            document.querySelector('.content-home-container').classList.add('show-content-home-container');
        }, 700);
    </script>

</html>

{% endblock %}