{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h2 class="text-light mx-auto mt-4 mb-4"
                    >PRÓXIMO DESAFÍO</h2>
                    <h1 class="mx-auto my-0 text-uppercase"
                    >CHANÁ CHALLENGE</h1> 
                    <p class="text-white-50 mx-auto mt-2 mb-5"
                    >7 DE MAYO DE 2023 | VIVÍ LA EXPERIENCIA CHANÁ EN UN PAISAJE INCREIBLE</p>
                    <a class="btn btn-primary mt-2 mb-2" href="{% url 'registro' %}"
                    >INSCRIBITE YA</a>
                    <a class="btn btn-primary" href="{% url 'informacion' %}"
                    >VER MÁS INFO</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
