{% extends 'Home/base.html'%}

{% load static %}
 
{% block contenido %} 
  <head>
    <link rel="stylesheet" href="{% static 'webcrp/css/formularios2.css' %}">
    <link rel="stylesheet" href="{% static 'webcrp/css/boton.css' %}">
    <link rel="stylesheet" href="{% static 'webcrp/css/styles.css' %}">
  <head>
    <header class="masthead bg-black">
      <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
              <h1 class="mx-auto my-1 text-uppercase mb-4"
              >CHANÁ CHALLENGE</h1> 
              <h2 class="text-white mx-auto mt-2 mb-1"
              >IMPORTANTE</h2>
              <p class="text-warning mt-0 mb-0">Si te registraste y realizaste el pago pero no te encuentras en esta lista:</p>
              <p class="text-warning mt-0 mb-0">Por favor envianos un mail a costarioparana@gmail.com con el Asunto 'Lista General'.</p>
              <p class="text-warning mt-0 mb-0">Aclará tu DNI, monto que pagaste y adjuntá tu comprobante de pago.</p>
            </div> 
        </div>
      </div>
      <div class="row" style="padding-top: 8rem;">
        <div class="icons col-1" style="position: absolute;">
          <div class="icon" style="position: absolute;">
            <span><svg id="mi-svg"xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg></span>
          </div>
        </div>
      </div>
    </header>
    <section class="projects-section bg-black">
      <div class="container px-4 px-lg-5">
        <div style="height: 700px; overflow: scroll;">
          <h2 class="text-white mx-auto mt-5"
          >LISTADO DE CORREDORES/AS</h2>
          <table class='text-white'>
            <thead>
              <tr class="text-primary">
                <th>Apellido</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Distancia</th>
                <th>Categoria</th>
                <th>Email</th>
                <th>Pago</th>
              </tr>
            </thead>
            <tbody>
              {% for fila in datos %}
              <tr>
                <td>{{ fila.APELLIDO }}</td>
                <td>{{ fila.NOMBRE }}</td>
                <td>{{ fila.DNI }}</td>
                <td>{{ fila.DISTANCIA }}</td>
                <td>{{ fila.CATEGORIA }}</td>
                <td>{{ fila.EMAIL }}</td>
                <td>{{ fila.PAGO }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <script>
        // Obtener el elemento SVG
        const miSvg = document.getElementById('mi-svg');
      
        // Agregar un evento de clic al elemento SVG
        miSvg.addEventListener('click', () => {
          // Desplazar la pantalla hacia abajo 200px
          window.scrollTo({
            top: window.pageYOffset + 720,
            behavior: 'smooth'
          });
        });
    </script>
    </section>
{% endblock %}