{% extends 'Home/base.html'%}

{% load static %}
 
{% block contenido %} 
  <head>
    <link rel="stylesheet" href="{% static 'webcrp/css/formularios2.css' %}">
    <link rel="stylesheet" href="{% static 'webcrp/css/boton.css' %}">
    <link rel="stylesheet" href="{% static 'webcrp/css/styles.css' %}">
  <head>
    <section class="projects-section bg-black">
      <div class="container px-4 px-lg-5">
        <div class="text-center">
          <h2 class="text-white mx-auto mt-2 mb-1"
          >IMPORTANTE</h2>
          <p class="text-warning mt-0 mb-0">Si te registraste y realizaste el pago pero no te encuentras en esta lista:</p>
          <p class="text-warning mt-0 mb-0">Por favor envianos un mail a costarioparana@gmail.com con el Asunto 'Lista General'.</p>
          <p class="text-warning mt-0 mb-0">Aclará tu DNI, monto que pagaste y adjuntá tu comprobante de pago.</p>
        </div> 
        <div style="height: 700px; overflow: scroll;">
          <h2 class="text-white mx-auto mt-5"
          >LISTADO DE CORREDORES/AS</h2>
          <table class='text-white'>
            <thead>
              <tr class="text-primary">
                <th>Apellido</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Distancia</th>
                <th>Categoria</th>
                <th>Email</th>
                <th>Pago</th>
              </tr>
            </thead>
            <tbody>
              {% for fila in datos %}
              <tr>
                <td>{{ fila.APELLIDO }}</td>
                <td>{{ fila.NOMBRE }}</td>
                <td>{{ fila.DNI }}</td>
                <td>{{ fila.DISTANCIA }}</td>
                <td>{{ fila.CATEGORIA }}</td>
                <td>{{ fila.EMAIL }}</td>
                <td>{{ fila.PAGO }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <script>
        // Obtener el elemento SVG
        const miSvg = document.getElementById('mi-svg');
      
        // Agregar un evento de clic al elemento SVG
        miSvg.addEventListener('click', () => {
          // Desplazar la pantalla hacia abajo 200px
          window.scrollTo({
            top: window.pageYOffset + 720,
            behavior: 'smooth'
          });
        });
    </script>
    </section>
{% endblock %}