{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

    <div class="content-home-container">
        <div class="content-home">
            <h1 class="working-text">Estamos trabajando <br>en esta página.</br></h1>

            <div class="working-button">
                <a class="back-button" href="{% url 'home' %}">VOLVER AL INICIO</a>
            </div>

        </div>
    </div>

    <script>
        // Transición en Home
        setTimeout(function() {
            document.querySelector('.content-home-container').classList.add('show-content-home-container');
        }, 700);
    </script>

</html>

{% endblock %}