{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

    <div class="content-home-container">

        <div class="nosotros-banner">
            <img class="logo-banner" src="https://res.cloudinary.com/dftjkw401/image/upload/v1705262589/CRP%20Website/jxq1a6r9hl33imluppzl.webp" alt="Sol naranja">
            <div class="text-banner">
                <h2 class="title">De corredores para corredores</h2>
                <p class="info">Costa Río Paraná, fundado por un grupo de corredores apasionados por el deporte y comprometidos con su práctica,
                    se originó en la región de Entre Ríos, una hermosa área natural ubicada en el centro de Argentina, conocida por sus paisajes exuberantes
                    y su terreno desafiante para correr.</p>
            </div>
        </div>

        <div class="about-1">
            <div class="about-1-text">
                <h2 class="title">¿Qué hacemos?</h2>
                <p class="info">Los fundadores de Costa Rio Parana comparten una misma pasión por el deporte y la naturaleza,
                    lo que les llevó a formar este grupo de corredores comprometidos y unidos. Costa Río Paraná se especializa en la planificación
                    y ejecución de carreras y maratones en el territorio de Entre Ríos. Con una trayectoria de más de tres años, nos hemos destacado
                    por la realización de eventos de alta calidad, comprometidos en brindar una experiencia excepcional a nuestros participantes.
                    A lo largo de más de tres ediciones por año, las cuales han sido extraordinariamente concurridas y positivamente recibidas
                    por la comunidad competidora, Costa Río Paraná se ha consolidado como líder en la organización de las mejores carreras y maratones en la región.</p>
            </div>
        </div>

        <div class="about-2">
            <div class="about-2-text">
                <h2 class="title">Nuestro compromiso</h2>
                <p class="info">Costa Río Paraná está firmemente comprometido con la preservación del medio ambiente,
                    motivo por el cual implementamos una iniciativa ECO-FRIENDLY. A través de esta campaña, llevamos a cabo
                    diversas actividades enfocadas en la conservación del entorno, entre las que se incluyen:</p>
                <ul class="list">
                    <li>
                        <ul>
                            <li>Coordinación de una campaña de recolección de plásticos para los participantes, con reconocimientos
                                para aquellos que contribuyan de manera destacada.</li>
                            <li>Confección de medallas con materiales reciclados, específicamente plástico reciclado,
                                reafirmando nuestro compromiso con la sostenibilidad.</li>
                            <li>Al finalizar cada uno de nuestros eventos, nos dedicamos a realizar una exhaustiva limpieza,
                                recolectando todos los residuos que puedan haber quedado en el entorno.</li>
                        </ul>
                    </li>
                </ul>
                <p class="info">Nos enorgullece fomentar entre los corredores la responsabilidad hacia el espacio en el que se llevan
                    a cabo nuestras carreras, reconociendo que su preservación es fundamental para poder disfrutar de estas experiencias
                    de manera sostenible.</p>
            </div>
            <img class="about-2-img" src="https://res.cloudinary.com/dftjkw401/image/upload/v1705262354/CRP%20Website/sodshr1vjcuh5joidsfy.webp" alt="Imagen ecofriendly">
        </div>

        <div class="about-3">
            <div class="about-3-text">
                <h2 class="title">Calendario 2024</h2>
                <p class="info">En el presente año, hemos programado la realización de seís ediciones distintas de eventos deportivos:</p>
                <ul class="list">
                    <li>
                        <ul>
                            <li>10 DE MARZO: Carrera de la Mujer en Diamante, Entre Ríos. <a href="{% url 'info-evento-actual' %}">Ver más info</a></li>
                            <li>5 DE MAYO: Chaná Challenge en Diamante, Entre Ríos.</li>
                            <li>15 DE JUNIO: Expedición Pedal en Libertador San Martín, Entre Ríos.</li>
                            <li>10 DE AGOSTO: Trail Costa Río Paraná en Paraná, Entre Ríos.</li>
                            <li>15 DE SEPTIEMBRE: Media Maratón de la Salud en Libertador San Martín, Entre Ríos.</li>
                            <li>13 DE OCTUBRE: Amanecer Villa Urquiza en Villa Urquiza, Entre Ríos.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="more-info-nosotros">
            <h2 class="more-info-text">Explorá más sobre nosotros</h2>
            <a href="{% url 'galeria' %}" style="text-decoration: none;"><p class="more-info-text">Mirá nuestra galeria de imágenes</p></a>
        </div>

        <div class="content-galery-bottom">
            <img class="logo-crp-social" src="{% static 'Home/assets/img/LogoCRP-Navbar.webp'%}" alt="Logo">
            <div class="social-container">
                <a href="https://www.instagram.com/costarioparana_/" target="_blank"><img class="social-icon-2" src="https://res.cloudinary.com/dftjkw401/image/upload/v1705100707/CRP%20Website/lush0ubuqgjq1doijah4.png"></a>
                <a href="https://www.facebook.com/costarioparana" target="_blank"><img class="social-icon-1" src="https://res.cloudinary.com/dftjkw401/image/upload/v1705100707/CRP%20Website/acpsecy4p7g8ogxkjwez.png"></a>
            </div>
        </div>

    </div>

    <script>
        // Transición en Home
        setTimeout(function() {
            document.querySelector('.content-home-container').classList.add('show-content-home-container');
        }, 700);
    </script>

</html>

{% endblock %}