{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}
<head>
    <link rel="stylesheet" href="{% static 'webcrp/css/formularios2.css' %}">
</head>

<section class="projects-section bg-black">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row--> 
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-6 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'webcrp/images/MAIL.png' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-white text-left text-lg-left">
                    <h4>Nuevo desafío</h4>
                    <p class="text-white-50 mb-0">
                    7 DE MAYO DE 2023 - DIAMANTE, E.R - 21K, 10K Y 5K</p>
                    <a class="btn btn-primary mt-4 mb-4" href="{% url 'registro' %}"
                    >INSCRIBITE YA</a>
                </div>
            </div>
        </div>
	<div class="container px4 px-lg-5">
		<div class="text-white text-center text-lg-center">
            <h1 class="text-primary">INFORMACION DEL EVENTO</h1>
            <h2 class="text-white mb-1">LARGADA DESDE</h2>
            <p class="text-white mb-2">'Camping municipal de Diamante, Entre Ríos' | HORA 9:30AM</p>
            <h2 class="text-white mb-1">PREMIACIÓN</h2>
		    <p class="text-white mb-2">Premiamos desde el 1er al 5to puesto en cada una de las categorias y desde el 1er al 3er puesto en la categoria general (no acumulativas en todas las distancias).</p>
		    <h2 class="text-white mb-1">SERVICIOS</h2>
            <p class="text-white mb-2">Contaremos con 5 puestos de hidratación en los 21k, los mismos contarán con agua, fruta, gaseosa Coca Cola y cereales. Las distancias de 10k y 5k tendrán puestos distribuidos de manera uniforme por el recorrido, de manera que no quede ningun participante sin hidratación. En la llegada habrá un puesto de hidratacion con agua y bebida isotónica.</p>
		    <h2 class="text-white mb-1">CRONOMETRAJE</h2>
            <p class="text-white mb-2">A su vez, los tiempos de todos los participantes seran medidos a través del sistema de cronometraje por chip de la empresa Cronomet.</p>
		    <h2 class="text-white mb-1">SALUD</h2>
            <p class="text-white mb-2">Habrá un dispositivo de asistencia medica en llegada, así como en el recorrido. Además contaremos con una carpa con kinesiologos para realizar masajes post competencia.</p>
		    <h2 class="text-white mb-1">KIT</h2>
            <p class="text-white mb-3">Cada participante recibirá un kit compuesto por: Remera de competicion, chip de cronometraje, número dorsal identificatorio con alfileres de gancho y regalos de auspiciantes.</p>
            <h2 class="text-primary mb-3">----</h2>
            <h2 class="text-white mb-1">ENTREGA DE KIT</h2>
            <p class="text-white mb-2">PARANA: Hotel Maran Suites & Towers - Jueves 4/5 - 17:00 a 20:00</p>
            <p class="text-white mb-2">DIAMANTE: Camping Balneario Municipal - Sábado 6/5 - 16:00 a 19:00</p>
            <p class="text-white mb-2">DIAMANTE: Camping Balneario Municipal - Domingo 7/5 - 07:30 a 09:00</p>
            <h2 class="text-white mb-1">PARA RETIRAR EL KIT</h2>
            <p class="text-white mb-2">-Presentar Deslinde de Responsabilidad firmado</p>>>><a class="bnt btn-primary" href="{% url 'descargar_pdf' %}">DESCARGALO ACÁ</a>
            <p class="text-white mb-2">-Presentar Certificado médico</p>
            <p class="text-white mb-2">-Presentar Comprobante de pago</p>
            <h2 class="text-white mb-1">EN CASO DE RETIRAR EL KIT DE OTRO CORREDOR</h2>
            <p class="text-white mb-2">-Presentar Deslinde de Responsabilidad firmado y aclarado</p>
            <p class="text-white mb-2">-Presentar Fotocopia de DNI del corredor</p>
            <p class="text-white mb-2">-Presentar Certificado médico</p>
            <p class="text-white mb-2">-Presentar Comprobante de pago</p>
        </div>
	</div>
        <!-- Project One Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/imagen2.png' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">¿Qué es Tierra Chaná?</h4>
                            <p class="mb-0 text-dark">Tierra Chana es un tesoro natural en la ciudad de Diamante. Con más de 25 km de senderos, es el lugar perfecto para una aventura en la naturaleza. Explora sus bosques, arroyos y praderas, y disfruta de la tranquilidad y la belleza de esta reserva ecológica única.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/remeras.png' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Remera Oficial</h4>
                            <p class="mb-0 text-dark">Correr en la naturaleza es una aventura emocionante y desafiante. Es por eso que diseñamos esta remera especialmente para ayudar a los atletas a alcanzar su máximo rendimiento. Está hecha de materiales de alta calidad que se adaptan a las necesidades de los corredores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Three Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/NUEVAFOTO.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">  
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">Trail en Tierra Chaná</h4> 
                            <p class="mb-0 text-dark">¡Atrévete a explorar lo salvaje y descubre la aventura del trail running en la naturaleza!</p>
                            <a class="btn btn-secondary mt-4 mb-4" href="{% url 'registro' %}"
                            >INSCRIBITE YA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // Obtener el elemento SVG
    const miSvg = document.getElementById('mi-svg');
  
    // Agregar un evento de clic al elemento SVG
    miSvg.addEventListener('click', () => {
      // Desplazar la pantalla hacia abajo 200px
      window.scrollTo({
        top: window.pageYOffset + 720,
        behavior: 'smooth'
      });
    });
</script>

{% endblock %}
