{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<section class="projects-section bg-black" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, #000 100%)">
    <div class="container px-4 px-lg-5">
        <div class="container px4 px-lg-5">
            <div class="text-white text-center text-lg-center">
                <div class="container" style="width: 100%; display: grid; place-items: center; padding-top: 10px;">
                    <img class="img-fluid" src="{% static 'Home/assets/img/LOGO-PNG.png' %}" alt="..." style="width: 700px;"/>
                </div>
                <h1 class="text-white mb-1">NUEVO DESAFÍO DE CALLE</h1>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/imagen2.png' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="text-center h-100 project" style="background-color: #d69015;">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">35° Maraton De La Salud</h4>
                            <p class="mb-0 text-white">El domingo 17 de septiembre Costa Río Paraná en conjunto con el Municipio de Libertador San Martín llevaran a cabo la tradicional Maratón de la Salud en su edición 35.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/remeras.png' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Remera Oficial</h4>
                            <p class="mb-0 text-dark">Correr en la naturaleza es una aventura emocionante y desafiante. Es por eso que diseñamos esta remera especialmente para ayudar a los atletas a alcanzar su máximo rendimiento. Está hecha de materiales de alta calidad que se adaptan a las necesidades de los corredores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Three Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/CHANA7.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">  
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">SOLD OUT</h4> 
                            <p class="mb-0 text-dark">En nuestro primer desafío del año nos acompañaron más de 600 amantes del Trail.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/CHANA8.jpeg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Trail en Tierra Chaná</h4>
                            <p class="mb-0 text-dark">¡Atrévete a explorar lo salvaje y descubre la aventura del trail running en la naturaleza!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
