{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<section class="projects-section bg-black" style="">
    <div class="container px-4 px-lg-5">
        <div class="container px4 px-lg-5">
            <div class="text-white text-center text-lg-center">
                <div class="container" style="width: 100%; display: grid; place-items: center; padding-top: 10px;">
                    <img class="img-fluid" src="{% static 'Home/assets/img/BANNER-HEADER.png' %}" alt="..." style="width: 110%;"/>
                </div>
                <h1 class="mt-5" style="color: #d69015; text-weight: 700">NUEVO DESAFÍO TRAIL</h1>
                <div class="text-center">
                    <a class="btn btn-primary mb-3" href="https://cronofrancolini.com.ar/atardecervillaurquiza.html"
                    >INSCRIBITE ACÁ</a>
                </div> 
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/villa-foto-11.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="text-center h-100 project" style="background-color: #DE01A7;">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Atardecer Villa Urquiza</h4>
                            <p class="mb-0 text-white">El sábado 18 de noviembre, Costa Río Paraná llevará a cabo su nuevo desafío trail donde se recorrerá toda la naturaleza que ofrece Villa Urquiza.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/villa-foto-22.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="text-center h-100 project" style="background-color: #DE01A7;">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Distancias</h4>
                            <p class="mb-0 text-white">En esta edición se desarrollarán 4 distancias:</p>
                            <p class="mb-0 text-white">25Km</p>
                            <p class="mb-0 text-white">12Km</p>
                            <p class="mb-0 text-white">5Km (Competitivo/Trekking)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Three Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/villa-foto-33.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="text-center h-100 project" style="background-color: #DE01A7;">
                    <div class="d-flex h-100">  
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Más información</h4> 
                            <p class="mb-0 text-white">Lugar: Villa Urquiza, E.R</p>
                            <p class="mb-0 text-white">Horario de largada: 18:00hs</p>
                            <p class="mb-0 text-white">Inscripciones abiertas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-white text-center text-lg-center">
            <h2 class="mt-3" style="color: #DE01A7;">SERVICIOS EN COMPETENCIA:</h2>
                <p class="text-white mb-1">Se contará con 4 puestos de hidratación en la distancia de 25k con agua y fruta. Las distancias de  12k, 5k competitivas y 5k trekking tendrán puestos distribuidos de manera uniforme por el recorrido, de manera que no quede ningún corredor sin hidratación. 
                En la llegada puesto de hidratación con agua y bebida isotónica.</p>
                
            <h2 class="" style="color: #DE01A7;">CRONOMETRAJE</h2>
                <p class="text-white mb-1">A su vez, los tiempos de todos los participantes serán medidos a través de sistema de cronometraje por chip de la empresa CRONOMET.</p>
                
            <h2 class="" style="color: #DE01A7;">SALUD</h2>
                <p class="text-white mb-1">Habrá un dispositivo de asistencia médica en llegada, así como en el recorrido además una carpa con kinesiólogos para realizar masajes post competencia.</p>
                
            <h2 class="" style="color: #DE01A7;">KIT CORREDOR</h2>
                <p class="text-white mb-1">Cada participante recibirá un kit compuesto por remera oficial de competición, chip de cronometraje, número dorsal identificatorio con alfileres de gancho y regalos de auspiciantes.</p>
        </div>
        <div class="container" style="width: 100%; display: grid; place-items: center; padding-top: 10px;">
            <img class="img-fluid" src="{% static 'Home/assets/img/FLYER-VILLA-2.jpg' %}" alt="..." style="width: 60%;"/>
        </div>
        <div class="text-center">
            <a class="btn btn-primary mt-2 mb-2" href="https://cronofrancolini.com.ar/atardecervillaurquiza.html"
            >INSCRIBITE ACÁ</a>
        </div> 
    </div>
</section>

{% endblock %}
