{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<section class="projects-section bg-black" style="">
    <div class="container px-4 px-lg-5">
        <div class="container px4 px-lg-5">
            <div class="text-white text-center text-lg-center">
                <div class="container" style="width: 100%; display: grid; place-items: center; padding-top: 10px;">
                    <img class="img-fluid" src="{% static 'Home/assets/img/LOGO-AVU.png' %}" alt="..." style="width: 700px;"/>
                </div>
                <h1 class="" style="color: white; text-weight: 700">ESTAMOS TRABAJANDO</h1>
                <p class="mb-0 text-white">Muy pronto encontrarás más información sobre este evento.</p>
            </div>
        </div>
</section>

{% endblock %}
