{% extends 'Home/base.html'%}

{% load static %}

{% block contenido2 %}
<head>
    <link rel="stylesheet" href="{% static 'webcrp/css/formularios.css' %}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'fullcalendar/fullcalendar.min.css' %}">
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
</head>
<section class="signup-section">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="registro-form  d-flex justify-content-center mb-5">
            <div class="registro-form-2 text-center mb-5">
                <img class="img-fluid-reg mt-0 mb-0" src="{% static 'Home/assets/img/logo-evento.png' %}" alt="..." />
                <h2 class="text-white-50 mx-auto mt-0 mb-5"
                >INSCRIPCIÓNES ABIERTAS</h2>
                {% if errors %}

                <p style="color:red">Ingresa un email válido: {{errors}}</p>

                {% endif %}
                <form method="POST" action="" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <div class="d-flex justify-content-center">
                        <div class="pe-5 ps-5 rounded text-secondary shadow" style="width: 30rem; background: linear-gradient(to bottom, #43434338, black);">
                            <div class="row">
                            <div class="mt-3 form-input">
                                <label>{{ primerFormulario.nombre.label }}</label>                      
                                {{ primerFormulario.nombre }}
                            </div>
                            <div class="mt-3 form-input">
                                <label>{{ primerFormulario.apellido.label }}</label>                         
                                {{ primerFormulario.apellido }}
                            </div>
                        </div>
                            <div class="mt-3 input-error">
                                <label>{{ primerFormulario.email.label }}</label><br>                            
                                {{ primerFormulario.email }}
                            </div>
                            <div class="mt-3">
                                <label>{{ primerFormulario.genero.label }}</label><br>                            
                                {{ primerFormulario.genero }}
                            </div>
                            <div class="mt-3">
                                <label>{{ primerFormulario.fecha_de_nacimiento.label }}</label><br>                            
                                <input type="date" id="fecha_de_nacimiento" name="fecha_de_nacimiento">
                            </div>
                            <div class="row">
                            <div class="mt-3 form-input">
                                <label>{{ primerFormulario.pais.label }}</label><br>                            
                                {{ primerFormulario.pais }}
                            </div>
                            <div class="mt-3 form-input">
                                <label>{{ primerFormulario.estado.label }}</label><br>                            
                                {{ primerFormulario.estado }}
                            </div>
                        </div>
                            <div class="mt-3">
                                <label>{{ primerFormulario.dni.label }}</label><br>                            
                                {{ primerFormulario.dni }}
                            </div>
                            <div class="mt-3">
                                <label>{{ primerFormulario.distancia.label }}</label><br>                            
                                {{ primerFormulario.distancia }}
                            </div>
                            <div class="mt-3">
                                <label>{{ primerFormulario.telefono.label }}</label><br>                            
                                {{ primerFormulario.telefono }}
                            </div>
                            <div class="mt-3">
                                <label>{{ primerFormulario.grupo_de_running.label }}</label><br>                            
                                {{ primerFormulario.grupo_de_running }}
                            </div>
                            <div class="mt-3">
                                <label>{{ primerFormulario.categoria.label }}</label><br>                            
                                {{ primerFormulario.categoria }}
                            </div>
                            <div class="mt-3">
                                <label>{{ primerFormulario.talle_de_remera.label }}</label><br>
                                <mark class="text-warning">(No se podrá cambiar el talle de la remera, porfavor controlar medidas.)</mark>                         
                                {{ primerFormulario.talle_de_remera }}
                            </div> <br>
                            <label>Medidas de los talles</label>
                            <img class="foto-remera" src="{% static 'webcrp/images/foto_remera.png' %}" alt="foto_remera">
                            <div class="d-flex gap-2 justify-content-center mt-3 mb-3">
                                <input type="submit" class="btn btn-primary" value="Inscribirme">
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="contact-section2 bg-black">
        <div class="container px-4 px-lg-5">
            <div class="social d-flex justify-content-center">
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer footer2 bg-black small text-center text-white-50">
        <div class="container divpx-4 px-lg-5"></div>
    </footer>
    <section style="margin-top: 0;" class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <p class="text-center text-light mx-auto mt-4 mb-5"
            >SEGUÍNOS EN NUESTRAS REDES</p>
            <div class="social d-flex justify-content-center">
                <a 
                    class="mx-2"
                    href="https://www.instagram.com/costarioparana_/">
                    <i class="fab fa-instagram">
                    </i>
                </a>
                <a 
                    class="mx-2"
                    href="https://www.facebook.com/costarioparana">
                    <i class="fab fa-facebook-f">
                    </i>
                </a>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container px-4 px-lg-5"
            >Copyright &copy; Costa Río Paraná 2023
        </div>
    </footer>
</section>


{% endblock %}