{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100 d-flex align-items-center justify-content-center">
        <div class="container bg-white h-auto row gx-4 mb-lg-0 d-flex align-items-center justify-content-center">
            <h3 class="text-primary text-center mt-3 mb-2"
                >¡Tenes un 10% de descuento en tu inscripción a Chana Challenge!</h3>
            <div class="row mt-4 mb-2">
                <img class="img-fluid" src="{% static 'Home/assets/img/PRECIOS-DESCUENTO.png' %}" alt="..." />
            </div>
            <mark class="text-white text-center mt-4 mb-4"
                >Recordá que se realiza el pago del 50% de la inscripción y luego el otro 50% en efectivo en la entrega de Kits.</mark>
            <div class="row gx-4 mb-lg-2 align-items-left justify-content-left">
                <div class="">
                    <div class="text-black text-lg-left">
                        <dt class="text-black mt-0 mb-2"
                        >DATOS PARA PAGAR TU INSCRIPCIÓN</dt>
                        <p class="text-black mb-2">
                        CBU: 0720192588000037935236 /// ALIAS: LIBRO.FIRMA.FUEGO /// BANCO: SANTANDER</p>
                        <p class="text-warning mt-2 mb-2">
                        IMPORTANTE: Una vez realizado el pago, envíar comprobante de pago a costarioparana@gmail.com y aclarar en el asunto del mail de la siguiente manera "Nombre-Apellido-Comprobante".</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}