{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100 d-flex align-items-center justify-content-center">
        <div class="container-pay px-lg-4 bg-white h-auto mt-3 mb-0">
            <h3 class="text-primary text-center mt-3 mb-2"
                >¡Tenes un 30% de descuento en tu inscripción a Chana Challenge!
            </h3>
            <mark class="text-white text-center mt-4 mb-4"
                >Recordá que se realiza el pago del 50% de la inscripción y luego el otro 50% en efectivo en la entrega de Kits.
            </mark>
            <div class="text-black text-lg-left">
                <h2 class="text-black mt-4 mb-3"
                >MERCADO PAGO</h2>
                <p class="text-black mb-1">
                Presioná el botón para pagar desde Mercado Pago</p>
                <a class="btn btn-info mt-0 mb-1" href="https://mpago.la/271ecEc"
                >PAGAR 5K TREKKING (30% OFF)</a>
                <a class="btn btn-info mt-0 mb-0" href="https://mpago.la/28ManBP"
                >PAGAR 5K COMPETITIVO (30% OFF)</a>
                <a class="btn btn-info mt-1 mb-0" href="https://mpago.la/29aQrYq"
                >PAGAR 10K COMPETITIVO (30% OFF)</a>
                <a class="btn btn-info mt-1 mb-1" href="https://mpago.la/2k8q4zu"
                >PAGAR 21K COMPETITIVO (30% OFF)</a>
            </div>
        </div>
    </div>
</header>

{% endblock %}