{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100 d-flex align-items-center justify-content-center">
        <div class="container-pay px-lg-4 bg-white h-auto mt-3 mb-0">
            <h1 class="mx-auto my-4 text-uppercase mb-4 text-center"
            >CHANÁ CHALLENGE</h1>
            <h3 class="text-black text-center mt-4 mb-4"
                >¡Tenes un 30% de descuento en tu inscripción a Chana Challenge!
            </h3>
            <p class="text-black text-center mb-0">
                Recordá que se abona el 50% ahora y el otro 50% cuando retiras tu kit</p>
            <p class="text-black text-center mb-2">
                Presioná el boton que corresponda con la distancia en la que te anotaste y realizá el pago con Mercado Pago.</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary mt-0 mb-2 h-auto" href="https://mpago.la/271ecEc"
                >PAGAR 5K TREKKING (30% OFF)</a>
                <a class="btn btn-primary mt-0 mb-2 h-auto" href="https://mpago.la/28ManBP"
                >PAGAR 5K COMPETITIVO (30% OFF)</a>
                <a class="btn btn-primary mt-0 mb-2 h-auto" href="https://mpago.la/29aQrYq"
                >PAGAR 10K COMPETITIVO (30% OFF)</a>
                <a class="btn btn-primary mt-0 mb-2 h-auto" href="https://mpago.la/2k8q4zu"
                >PAGAR 21K COMPETITIVO (30% OFF)</a>
            </div>
            <p class="text-primary text-center mt-2">
                IMPORTANTE: Una vez realizado el pago deberás subir tu comprobante de pago en nuestra web.</p>
        </div>
    </div>
</header>

{% endblock %}