{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}
<header class="masthead">
    <div class="container px-lg-5 h-100 d-flex align-items-center justify-content-center">
        <div class="container-pay px-lg-4 bg-white h-auto mt-3 mb-0"> 
            <h3 class="text-black text-center mt-3 mb-2"
            >MÉTODOS DE PAGO</h3>
            <p class="text-black text-center mt-2 mb-0"
            >Elegí la opción para pagar tu inscripción a CHANÁ CHALLENGE</p>
            <dt class="text-black text-center mb-3"
            >Recordá que se realiza el pago del 50% de la inscripción y luego el otro 50% en efectivo en la entrega de Kits.</dt>
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                    <section class="col-xl-8 col-lg-5">
                        <div class="text-black text-lg-left">
                            <mark class="text-primary mt-2 mb-5"
                            >OPCIÓN 1:</mark>
                            <h2 class="text-black mt-4 mb-3"
                            >TRANSFERENCIA BANCARIA</h2>
                            <p class="text-black mb-0">
                            CBU: 0720192588000037935236</p>
                            <p class="text-black mb-0">
                            ALIAS: LIBRO.FIRMA.FUEGO</p>
                            <p class="text-black mb-0">
                            BANCO: SANTANDER</p>
                            <p class="text-primary mt-3 mb-3">
                            IMPORTANTE: Una vez realizado el pago, envíar comprobante de pago a costarioparana@gmail.com y aclarar en el asunto del mail de la siguiente manera "Nombre-Apellido-Comprobante".</p>
                            <a class="text-black" href="{% url 'pagar-descuento' %}">
                            TENGO UN CÓDIGO DE DESCUENTO</a>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 mb-5">
                    <section class="col-xl-10 col-lg-2">
                        <div class="text-black text-lg-left">
                            <mark class="text-info mt-2 mb-4"
                            >OPCIÓN 2:</mark>
                            <h2 class="text-black mt-4 mb-3"
                            >MERCADO PAGO</h2>
                            <p class="text-black mb-1">
                            Presioná el botón para pagar desde Mercado Pago</p>
                            <a class="btn btn-info mt-0 mb-0" href="https://mpago.la/1cEjYBQ"
                            >PAGAR 5K TREKKING</a>
                            <a class="btn btn-info mt-1 mb-0" href="https://mpago.la/2WLNJSF"
                            >PAGAR 5K COMPETITIVO</a>
                            <a class="btn btn-info mt-1 mb-0" href="https://mpago.la/1n5zb43"
                            >PAGAR 10K COMPETITIVO</a>
                            <a class="btn btn-info mt-1 mb-1" href="https://mpago.la/2q85zDn"
                            >PAGAR 21K COMPETITIVO</a>
                        </div>
                    </section>
                </div>
                <div class="row mt-1 mb-4">
                    <img class="img-fluid" src="{% static 'Home/assets/img/PRECIOS.png' %}" alt="..." />
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}