{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<header class="masthead">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'webcrp/css/formularios.css' %}">
</head>
<div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="text-center icon-check d-flex" style="flex-direction: column;">
            <h2 style="color: rgb(0, 251, 4); font-size: 20pt;">Comprobante de pago enviado!</h2>
            <a class="btn btn-primary mt-4" href="{% url 'home' %}">Volver al Home</a>
        </div>
    </div>
</div>
</header>

{% endblock %}
