{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static 'webcrp/css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'webcrp/css/botones.css' %}">
</head>
<header class="masthead">
	<div class="contenedor-form">
    		<div class="contact-form">
        		<span class="heading">INFORMAR PAGO</span>
				<p class="text-black">Importante: Si realizas el pago para otra persona, por favor ingresá los datos de la persona a quien le corresponde el pago.</p>
        		<form method="POST" enctype="multipart/form-data">
            		{% csrf_token %}
            		<label>{{ formulario.nombre.label }}</label>
            		{{ formulario.nombre }}
            		<label>{{ formulario.apellido.label }}</label>
            		{{ formulario.apellido }}
					<label>{{ formulario.email.label }}</label>
					{% if errors2 %}
                        <p style="color:red">{{errors2}}</p>
                    {% endif %}
            		{{ formulario.email }}
					<p class="text-black">Verifica que has introducido correctamente el email con el que te inscribiste, allí enviaremos la comprobación de tu inscripción.</p>
            		<label>{{ formulario.distancia.label }}</label>
            		{{ formulario.distancia }}
					<p class="text-black"> El archivo debe ser .jpeg .png o .pdf
            		{{ formulario.archivo }}
            		<input type="submit" value="Enviar" class="btn-primary">
        		</form>
    		</div>
	</div>
</header>
{% endblock %}
