@media screen and (max-width:768px) {
  .sb-img{
    margin-top: 6rem;
    max-width: 350px;
    margin-bottom: 0;
  }
  .icons {
    display: none;
  }
  .projects-section{
    padding: 0 0;
  }
  .arrow{
    display: none;
  }
}
@media screen and (min-width:769px) {
  .sb-img{
    max-width: 3050px;
  }
  .icons {
    margin-top: 28rem;
    padding-left: 48%;
    color: white;
  }
  .icons:hover {
    cursor: pointer;
  }
}

form {
    width: 100%;
  }
::selection {
    background: var(--primary-color);
    color: var(--white-color);
}

*, ::after, ::before {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}
.form-input {
  width: 12.7rem;
}

.foto-remera {
  border-radius: 0.2rem;
  width: 23rem;
  height: auto;
}
  .form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    height: 48px;
    padding: 10px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  *, ::after, ::before {
    box-sizing: border-box;
}

input{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    height: 48px;
    padding: 10px;
    width: 100%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  select{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    height: 48px;
    padding: 10px;
    width: 100%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  h1 {
    margin-bottom: 2rem;
  }
  .icon span svg{
    background-color: white;
    width: 4rem;
    height: 4rem;
    padding: 0.25rem 0.4rem;
    border-radius: 100%;
    box-shadow: 0 0 10px  #09ab21;
  }
  @keyframes animacion {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  /* Aplicar la animación al SVG */
  .icon span svg {
    animation: animacion 1s ease infinite;
  }
  label {
    color: white;
    padding-bottom: 0.25rem;
  }
  button {
    background-color: #f62b53;
    border: 1px solid #f62b53;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
  }
  
  button:hover {
    background-color: #333;
    border-color: #333;
    color: #fff;
  }
  
  
  