{% extends 'Home/base.html'%}

{% load static %}

{% block contenido %} 
<head>
    <link rel="stylesheet" href="{% static 'webcrp/css/formularios2.css' %}">
    <link rel="stylesheet" href="{% static 'webcrp/css/boton.css' %}">
    <link rel="stylesheet" href="{% static 'webcrp/css/styles.css' %}">
</head>
<header class="masthead">
    <div class="icons" style="position: absolute;">
        <div class="icon" style="position: absolute;">
            <span><svg id="mi-svg" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
            </span>
        </div>
    </div>
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <img class="img-fluid mt-0 mb-0" src="{% static 'Home/assets/img/LOGO-CRP.png' %}" alt="..." />
    </div>
</header>
<section class="projects-section bg-black">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-6 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'webcrp/images/foto3.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-white text-left text-lg-left">
                    <h4>Nuevo desafío</h4>
                    <p class="text-white-50 mb-0">
                    7 DE MAYO DE 2023 - DIAMANTE, E.R HORA 10:00AM - DISTANCIAS 21K, 10K Y 5K - LARGADA EN 'Complejo Turístico Valle de La Ensenada'.</p>
                    <a class="btn btn-primary mt-4 mb-4" href="{% url 'registro' %}"
                    >INSCRIBITE YA</a> 
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'webcrp/images/foto2.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">¿Qué es Costa Rio Parana?</h4>
                            <p class="mb-0 text-dark">Costa Rio Parana es un grupo de amantes del Trail y las carreras de calle fundado por un grupo de corredores apasionados por el deporte y comprometidos con su práctica. El grupo se originó en la región de Entre Ríos, una hermosa área natural ubicada en el centro de Argentina, conocida por sus paisajes exuberantes y su terreno desafiante para correr.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'webcrp/images/foto1.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">¿Por qué creamos Costa Rio Paraná?</h4>
                            <p class="mb-0 text-dark">Los fundadores de Costa Rio Parana comparten una misma pasión por el deporte y la naturaleza, lo que les llevó a formar este grupo de corredores comprometidos y unidos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Three Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'Home/assets/img/imagen3.png' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">  
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">Trail en Tierra Chaná</h4> 
                            <p class="mb-0 text-dark">El enfoque de Costa Rio Parana es de corredores para corredores. Todos los miembros comparten su conocimiento y experiencia para ayudar a otros a mejorar su técnica y habilidades.</p>
                            <a class="btn btn-secondary mt-4 mb-4" href="{% url 'registro' %}"
                            >INSCRIBITE YA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Obtener el elemento SVG
        const miSvg = document.getElementById('mi-svg');
      
        // Agregar un evento de clic al elemento SVG
        miSvg.addEventListener('click', () => {
          // Desplazar la pantalla hacia abajo 200px
          window.scrollTo({
            top: window.pageYOffset + 720,
            behavior: 'smooth'
          });
        });
    </script>
</section>

{% endblock %}